@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  color: #333;
  position: relative;
  overflow-x: hidden;
  background-color: #fbfbfb;
}

html {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 0 10px;
  max-width: 1210px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-content {
  display: flex;
  justify-content: space-between;
}

.clearfix {
  clear: both;
  content: "";
}

.bg-white {
  background-color: #fff !important;
}

a {
  text-decoration: none;
  color: var(--dark);
}

img {
  max-width: 100%;
  height: auto;
}

.space-between {
  -webkit-box-pack: justify !important;
  justify-content: space-between;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap !important;
}

.hotline--call {
  position: fixed;
  bottom: -5px;
  left: 1px;
  z-index: 9999;
}

.fb--chat {
  position: fixed;
  bottom: -5px;
  right: 1px;
  z-index: 9999;
}

.fixed--zalo {
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 9999;
  overflow: hidden;
}

.fixed--zalo img {
  width: 50px;
}

.fixed--cart {
  position: fixed;
  top: 185px;
  right: 2px;
  z-index: 99;
  background: rgba(255, 255, 255, 0.88);
  border-radius: 35px;
  padding: 5px;
  cursor: pointer;
  width: 44px;
  overflow: hidden;
  transition: width 0.3s linear 0.15s;
  font-size: 18px;
  width: 43px;
  height: 43px;
  padding-top: 0;
  padding-left: 0;
}

.fixed--cart i {
  width: 43px;
  height: 43px;
  background-position: -3px -167px;
  background-color: #ff9300;
  border-radius: 50%;
  float: left;
  text-align: center;
  line-height: 44px;
  margin: -1px 0 0 -2px;
}

.fixed--cart p {
  display: block;
  margin: 3px;
  margin-left: 46px;
  padding-right: 8px;
  width: 104px;
  font-size: 12px;
  font-weight: 500;
}

.fixed--cart b {
  color: #136ed2;
}

.fixed--cart:hover {
  width: 155px;
}

.fixed--advise {
  position: fixed;
  right: 30px;
  bottom: 107px;
  transform: translate(0, -50%);
  transition: 0.5s all;
  z-index: 999999;
  margin-top: 30px;
}

.fixed--advise a {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-bottom: 5px;
  display: block;
  position: relative;
  border-radius: 5px 0 0 5px;
  transition: 0.5s;
}

.status--close {
  display: none;
}

.box--popup {
  position: fixed;
  z-index: 9999999;
  width: 450px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ff9300;
  border-radius: 20px;
  background-size: 100%;
}

.popup--title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 17px;
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.popup--title span {
  font-size: 28px;
  font-weight: 700;
}

.popup--content {
  padding: 10px;
}

.popup--content--item {
  text-align: center;
}

.form--advise--input {
  height: 40px;
  width: 430px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  outline: none;
  color: var(--gray);
}

.form--advise--input::placeholder {
  opacity: 0.5;
  line-height: 1px;
}

.content--advise {
  height: 130px;
  border-radius: 20px;
  padding-bottom: 70px;
}

.form--check {
  display: block;
  position: relative;
  margin-bottom: 14px;
  cursor: pointer;
  padding-left: 106px;
  font-size: 16px;
  color: #fff;
}

.form--check--item input {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.check--box-active {
  background: rgb(0, 0, 255);
}

.form--check--item span {
  padding-left: 10px;
}

.form--submit {
  height: 50px;
  width: 430px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  outline: none;
  color: white;
  background: red;
  font-weight: 600;
  margin: 20px 0 40px;
  cursor: pointer;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  display: block;
}
